<template name="__custom_collector"> 
  {{#if recordedWavBlobUrl}}
    <audio controls src="{{recordedWavBlobUrl}}" type="audio/wav"> </audio>
  {{/if}}
  {{#if isInRecordingMode}}
    <button class="ui grey button" data-action="stopRecording"> Stop recording </button> 
  {{else}}
    {{#if recordedWavBlobUrl}}
    <div class="ui action input">
      <input type="text" value="myTrack" data-context="name">
      <button class="ui grey right labeled icon button" data-action="save">
        <i class="save icon"></i>
        Save
      </button>
    </div>

    {{/if}}
    {{#if isReady}}

      <div class="ui buttons">
        <div class="ui grey button" data-action="chooseFile"> Choose file from disc </div>
        <div class="or"></div>
        <div class="ui grey button" data-action="record"> Record wave </div>
      </div>
       
      <input type="file" style="display:none">     
    {{/if}}
    {{#if isInProgress}}
      <div class="ui progress" data-percent="{{progress}}">
        <div class="bar" style="transition-duration: 300ms; width: {{progress}}%;">
          <div class="progress">{{progress}}%</div>
        </div>
        <div class="label">Uploading Files</div>
      </div>
    {{/if}}
  {{/if}}
</template>



<template name="sandboxRecorder">
  {{>collector}}
</template>
