<template name="navbar">
  <div class="navbar">
    <div class="ui grid">
      <div class="eight column row">
        <div class="right floated column">
          <div class="ui dropdown">        
            <div class="text navbar-menu">{{email}}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <a href="#"><i class="fa fa-user"></i> Profil</a>
              </div>
              <div class="item">
                <a href="{{pathFor 'project.creator'}}"><i class="fa fa-plus"></i> New Project</a>
              </div>
              <div class="item">
                <a href="#"><i class="fa fa-list"></i> Projects</a>
              </div>
              <div class="item">
                <a href="#"><i class="fa fa-cog"></i> Settings</a>
              </div>
              <div class="divider"></div>
              <div class="item">
                <a href="#" data-action="signout"><i class="fa fa-sign-out"></i> Sign out</a>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>