.mMidiArea .mNote {
  /*background:       #6090e0;*/
  /*height:           10px;*/


  position:           absolute;
  top:                1px;
  bottom:             1px;
  background:         linear-gradient(to bottom, #10c0e0, #6090e0);
  /*border-radius:      3px;*/
  /*box-shadow:         0px 0px 5px 2px #30c060 inset;*/

  
}