.mArea .mStem {
  position:           absolute;
  top:                2px;
  bottom:             2px;
  background:         linear-gradient(to bottom, #30c0c0, #30c060);
  border-radius:      3px;
  box-shadow:         0px 0px 5px 2px #30c060 inset;
}