.mArea {

  position:       relative;
  width:          100%;
  min-height:     720px;
  overflow-y:     scroll;




  background:     #333;
  color:          rgba(255,255,255,0.5);
  font-size:      8px;
  

  

  .mSidebar {
    position:     absolute;
    left:         0px;
    width:        120px;
    top:          0px;
    bottom:       0px;
  }


  .mScroll {
    position:     absolute;
    left:         120px;
    right:        0px;
    top:          0px;
    bottom:       0px;
    overflow-x:   scroll;
    overflow-y:   visible;
  }


  .mTimeline, .mTimelineHeader {
    height:       25px;
    background:   #666;
  }

  .mTrack, .mTrackHeader {
    height:       40px; 
  }

  .mTrackHeader {
    line-height:  40px;
    text-align:   center;
  }

  .mTimeline {
    width:        6000px;
  }

  .mTrack {
    background:   #111;
    border-top:   1px solid rgba(255,255,255,0.125);

    position:     relative;
    width:        6000px;
  }
}



