<template name="sandboxMidi">
  

  <div class="ui segment">
    {{#with project}}
      <div class="mArea">


        <div class="mSidebar">
          <div class="mTimelineHeader">
          </div>
          {{#each tracks}}
            <div class="mTrackHeader">
              <i class="fa fa-music"></i> &nbsp; {{name}}
            </div>
          {{/each}}
        </div>


        <div class="mScroll">
          <div class="mTimeline">

          </div>
          <div class="mTracks">
            {{#each tracks}}
              <div class="mTrack">
                {{#each stems}}
                  {{> trackViewStem}}
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>


      </div>
    {{/with}}
  </div>

</template>


